{% extends 'blog/base.html' %}
{% load bootstrap_toolkit %}

{% block title_block %}
Add_a_Category
{% endblock %}

{% block body_block %}
        <form id="category_form" method="post" action="{% url 'blog:add_category' %}">
        <h2 class="form-signin-heading"> Add a Category</h2>
            {% csrf_token %}
            {% bootstrap_form form layout="vertical" %}
            <br />
            <button class="btn btn-primary" type="submit" name="submit"> Add Category</button>
        </form>
{% endblock %}